body {
  font-family: sans-serif;
  margin: 0px;
}

button, span {
  margin: 2px;
}

p {
  margin-top: 8px;
}

.canvas-container {
  position: absolute;
  right: 0px;
  padding: 8px;
}

.start-stop-wrapper {
  position: absolute;
  width: 130px;
  right: 0px;
  padding: 8px;
}

.speed-bar {
  position: absolute;
  right: 0px;
  top: 35px;
  padding: 8px;
  width:260px;
}

.balls-container  {
  position: absolute;
  width: 20%;
  min-width: 220px;
  padding: 8px;
}
#canvas {
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 0px;
}
#table-scroll {
  height: 400px;
  overflow: auto;
  margin-top: 20px;
}

#expand-sound {
  width: 200px; 
}