body {
  font-family: sans-serif;
  margin: 0px;
}

button, span {
  margin: 2px;
}

p {
  margin: 0px;
}


.canvas-container {
  position: absolute;
  padding: 16px;
  width: 30%;
  max-width: 300px;
}

.start-stop-wrapper {
  width: 130px;
  right: 0px;
}

.speed-bar {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

#speed {
  vertical-align:middle;
  width: 100px;
}

.balls-container  {
  position: absolute;
  right: 0px;
  width: 20%;
  min-width: 170px;
  max-width: fit-content;
  padding: 8px;
}

.info-balls-container {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#canvas {
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 0px;
}
#table-scroll {
  height: 400px;
  overflow: auto;
  margin-top: 20px;
}

#expand-sound {
  width: 200px; 
}